# Ignore everything
*

# But not these files...
!.gitignore
!.skhdrc
!.yabairc

# ...even if they are in subdirectories
!.confg/kitty

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*